@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
    url('https://cdn.discordapp.com/attachments/1117557234461847723/1222323423598874714/dusiadraws_heaven_and_hell_merging_together_blue_sky_white_clou_2555ed88-a6e4-472c-af27-c972f1af6e88.png?ex=6615cc65&is=66035765&hm=f7311a081bf0c758e02ef5cca786122e086c22ac778a824bc7d935ad87ac63c2&');
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
  color: #35e0ff;
  font-family: 'Russo One', sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.App {
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
}

.solanaLogo {
  margin-top: 2em;
  width: 1.5em;
  height: 1.6em;
}

.header {
  background-color: transparent;
  margin: auto 0;
  padding: 16px;
  box-shadow: 0 0 10px 0 rgba(246, 246, 246, 0.9);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-right: 7em;
}

.header .collapse-button {
  display: none;
  line-height: 0;
  order: 2;
}

.header .collapse-button svg {
  width: auto;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

@media only screen and (max-width: 1170px) {
  .header {
    padding-right: 16px;
  }
}

@media only screen and (max-width: 800px) {
  .header .collapse-button {
    display: block;
    order: 0;
  }

  .header ul {
    width: 100%;
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: #876cff;
}

a:hover {
  color: bisque;
}

button {
  margin: 1em 0 0 1em;
}

.bodyContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 0 16px 32px;
  margin: 0 auto;
}

.pageBody,
.pageBody2 {
  /* height: 40vh; */
  background-color: linear-gradient(135deg, rgba(225, 225, 225, 0.1), rgba(225, 225, 225, 0));
  backdrop-filter: blur(8px);
  box-shadow: 0 0 10px 10px rgba(246, 246, 246, 0.4);
  border-radius: 60px;
  padding: 32px;
  width: 100%;
}

.pageBody2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@media only screen and (max-width: 800px) {
  .bodyContainer {
    width: 100%;
  }
  .pageBody,
  .pageBody2 {
    border-radius: 30px;
  }
}

.pageBody button {
  width: 65%;
  height: 3rem;
  background-color: #14f195;
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
  font-size: 2rem;
  color: #876cff;
  margin-bottom: 0.8em;
}

.pageBody button:hover {
  background-color: #876cff;
  color: #14f195;
  cursor: pointer;
}

.pageTitle {
  font-size: 2.3em;
}

.pagesubtitle {
  color: white;
  font-size: 1.3em;
  font-family: 'Russo One', sans-serif;
}

.logo {
  max-width: 7em;
  max-height: 2.8em;
}

.gif {
  max-width: 30rem;
  max-height: 30rem;
  width: 100%;
  /* box-shadow: 0px 0 100px 0 rgba(246, 246, 246, 0.9); */
  border-radius: 60%;
}

.backgroundCircle {
  fill: none;
  stroke: #ddd;
}

.progressCircle {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.tokenPrice {
  color: #35e0ff;
}

.circleText {
  font-size: 3rem;
}

.progressInput {
  width: 30vw;
  height: 3rem;
  margin-top: 0.5rem;
}

.detailsContent {
  display: flex;
  flex-direction: column;
}

.detailsContent {
  color: #876cff;
}

.detailsContent p {
  color: #35e0ff;
  font-size: large;
}

svg {
  width: 30vw;
}

.countdownContainer {
  display: flex;
  margin-bottom: 1em;
}

.countdownContainer div {
  flex-basis: 20em;
}

.countdownContainer p {
  font-size: 2rem;
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  .countdownContainer span {
    font-size: 1rem;
  }
}

.chart {
  width: 1rem;
  height: 1rem;
}

.phaseWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  justify-content: space-evenly;
}

.phaseContainer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 20rem;
  height: 20rem;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(135deg, #9945ff, #14f195) 1;
}

.phaseContainer h3 {
  color: #876cff;
}

.phaseContainer li {
  margin: 3rem;
  list-style-type: none;
}

.contactWrapper h2 {
  font-size: 3rem;
}

.telegramIcon {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}

.telegramIcon:hover {
  height: 3.3rem;
  width: 3.3rem;
  transition: ease-in 0.15s;
}

.xIcon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.5rem;
}

.xIcon:hover {
  height: 3.1rem;
  width: 3.1rem;
  transition: ease-in 0.15s;
}

.logoBottom {
  width: 19rem;
  height: 7.5rem;
}

.footer {
  font-size: 1rem;
  margin: 0.4rem;
}

.overlay-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: +10;
}

.overlay-modal .modal {
  background-color: grey;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 32px 32px 0;
  border-radius: 30px;
  box-shadow: 0 5px 5px black;
}

.overlay-modal .modal .address,
.overlay-modal .modal .qr-code {
  margin: 0 auto;
  color: black;
}

.overlay-modal .modal .qr-code {
  width: auto;
  height: auto;
  background-color: white;
  padding: 32px;
}

.navButton{
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal {
    max-width: 90%;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-button:hover {
  color: #9945ff; 
}

@media screen and (max-width: 768px) {
  .buyButton {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
}

.modal {
  /* Other styles */
  max-height: 80vh; /* Set maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.address {
  white-space: pre-wrap; /* Preserve formatting and wrap long addresses */
}


.addressContainer{
  overflow: auto;
}